<div class="container">
    <h2>Create New {{objType}}</h2>
    <form role="form" name="addObjectForm">
        <div class="alert alert-danger" role="alert" ng-show="err">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error: </span> {{err}}
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" ng-model="objName" class="form-control" name="objName" id="name" placeholder="{{objName}} Name" required>
            <p style="color:red" ng-show="addObjectForm.objName.$touched && addObjectForm.objName.$invalid" class="help-block"> Name cannot be empty </p>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" cols="30" rows="10" ng-model="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="imgToShow">Min Img:</label>
            <input type="textarea" class="form-control" id="imgToShow" ng-model="imgToShow" placeholder="http://www.engraversnetwork.com/files/placeholder.jpg">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(addObjectForm)">Save</button>
        <button type="submit" class="btn btn-danger" ng-click="cancel()">cancel</button>
    </form>
</div>
