<div>
    <h2>Create {{title}}</h2>
    <form role="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" ng-model="projectName" class="form-control" id="name" placeholder="Project Name">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="textarea" class="form-control" id="description" ng-model="description">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
        <button type="submit" class="btn btn-danger" ng-click="cancel()">cancel</button>
    </form>
</div>