<div ng-show="isAuthenticated && chatCollapsed" style="position: absolute;  bottom: 15%; right: 10%; height: 100px; width: 250px;">
    <div ng-click="changeChat()" style="background: darkcyan; position: relative;  top: 0%; right: 0%; height: 25px; width: 250px;">
       -
    </div>
    <div style="position: relative; left: 0px; height: 100px; width: 250px;" class="navbar navbar-inverse navbar-fixed-bottom" style="background: transparent;">
        <div id="chatContainer" class="col-lg-12" style="padding-top:5px; padding-bottom:0; height: 150px; overflow: scroll; background-color:#fbf2ff;">
            <table class="table">
                <tr class="chat_message" ng-repeat="chat in chatList">
                    <td class="col-md-12 td_class"><strong> {{chat.user}}: </strong> {{chat.message}} </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12">
            <form class="form_chat" name="chatForm">
                <div class="col-lg-9 col-md-9">
                    <input type="text" ng-model="chatMessage" class="form-control" placeholder="TypeYourMessageHere" name="chatMessage" required>
                </div>
                <button class="btn btn-default col-lg-3 col-md-3" ng-click="sendMsg()" ng-disabled="chatForm.chatMessage.$invalid">Send</button>
            </form>
        </div>
    </div>
</div>
<div ng-click="changeChat()" ng-show="isAuthenticated && !chatCollapsed" style="background: darkcyan; position: absolute;  bottom: 6%; right: 10%; height: 25px; width: 250px;">
    <strong>chat</strong>
</div>
