<style type="text/css">
.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel>.panel-heading:after,
.panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel>.panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Comments</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{userNameLogin}}</strong> <span class="text-muted">Share a comment</span>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment" ng-model="newComment"></textarea>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success" ng-click="share()">Share
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <dir ng-repeat="comment in comments">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>
            <div class="col-sm-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{comment.userName}}</strong> <span class="text-muted"> Published At <time pubdate>{{comment.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</time></span>
                    </div>
                    <div class="panel-body">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
        </dir>
    </div>
</div>
