<div class="header">
    <div class="navbar navbar-default" role="navigation" style="margin: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/#/" class="navbar-brand">Mockupero</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{{current_active == 'home'? 'active' :''}}"><a href="/#!/">Home</a>
                    </li>
                    <li class="{{current_active == 'projects'? 'active' :''}}"><a href="/#!/projectlist">Projects</a>
                    </li>
                    <li class="{{current_active == 'users'? 'active' :''}}"><a href="/#!/userlist">Users</a>
                    </li>
                    <li class="{{current_active == 'administration'? 'active' :''}}"><a href="/#!/administration">Admin</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="isAuthenticated"><a href="/#!/registerUser"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li ng-hide="isAuthenticated"><a href="/#!/login">Login <span class="glyphicon glyphicon-log-in"></span> </a>
                    </li>
                    <li ng-show="isAuthenticated" style="padding-top: 14px;">
                        <center>
                            <div style="width: 20px; height: 20px; display: block;">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="{{globalService.BASE_PATH}}/images/avatar/{{userId}}.jpg">
                                </div>
                            </div>
                            <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
                                <div class="container">
                                    <div class="navbar-header pull-left">
                                        <a href="/#/" class="navbar-brand">Mockupero</a>
                                    </div>
                                    <div class="navbar-header pull-right">
                                        <ul class="nav pull-left">
                                            <li class="navbar-text pull-left">{{userNameLogin}}</li>
                                            <li class="dropdown pull-right">
                                                <a data-toggle="dropdown" style="color:#777; padding: 0;" class="dropdown-toggle">
                                                    <div class="thumbnail" style="height: 30px;width: 40px;     padding: 0; border: 0;"> <img class="img-circle" src="{{globalService.BASE_PATH}}/images/avatar/{{userId}}.jpg">
                                                    </div>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="/#!/user/{{userId}}" title="Profile">Profile</a>
                                                        </li>
                                                        <li ng-show="isAuthenticated">
                                                            <a>Logout <span ng-click="logoutUser()" class="glyphicon glyphicon-log-in"></span></a>
                                                        </li>
                                                    </ul>
                                            </li>
                                        </ul>
                                        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse navbar-left">
                                        <ul class="nav navbar-nav pull-right">
                                            <li class="{{current_active == 'home'? 'active' :''}}"><a href="/#!/">Home</a>
                                            </li>
                                            <li class="{{current_active == 'projects'? 'active' :''}}"><a href="/#!/projectlist">Projects</a>
                                            </li>
                                            <li class="{{current_active == 'users'? 'active' :''}}"><a href="/#!/userlist">Users</a>
                                            </li>
                                            <li class="{{current_active == 'administration'? 'active' :''}}"><a href="/#!/administration">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </center>
                    </li>
                </ul>
            </div>
            <ol class="breadcrumb">
                <li ng-repeat="bread in breadcrumb track by $index">
                    <a href="/#!/{{bread.url}}">{{bread.name}}</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<chat-directive></chat-directive>
