<div class="col-sm-9" style="padding: 1px;">
    <input type="text" placeholder="Search by Project Name" ng-model="searchName" ng-keyup="reloadProject()">
    <div class="row" ng-repeat="project in projects">
        <div class="col-sm-12">
            <div class="thumbnail" style="height: 199px;">
                <img class="col-sm-2" src="https://www.alcaweb.org/archfs/v3/gsacket/8/gNFtNF63rU.png" alt="...">
                <div class="caption" class="col-sm-8">
                    <h4 class="col-sm-4">{{project.name}} </h4>
                    <div class="col-sm-6"><a href="#/project/{{project.id}}" class="btn btn-primary" role="button">View</a> <a href="#/project/edit/{{project.id}}" class="btn btn-default" role="button">Edit</a></div>
                    <div class="col-sm-12">{{project.description}} </div>
                    <div class="col-sm-12" style="color: darkgray;">
                        <div>State: {{project.state}}</div>
                        <div>Type: {{project.type}}</div>
                        <div>Created: {{project.createdAt}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        First
        <button onclick="">2</button>
        <button onclick="">3</button>
        .....
        <button onclick="">Last</button>
    </div>
</div>
