<div class="col-sm-9" style="padding: 1px;">
    <input type="text" placeholder="Search by Project Name" ng-model="searchName" ng-keyup="reloadProject(1)">
    <button type="button" class="btn btn-default" ng-click="sortByName()">
        <span class="glyphicon {{ sortAsc?'glyphicon glyphicon-sort-by-alphabet-alt':'glyphicon-sort-by-alphabet'}}"></span> Sort By Name
    </button>
    <div class="row" ng-repeat="project in projects">
        <div class="col-sm-12">
            <div class="thumbnail" style="height: 199px;">
                <img class="col-sm-2" src="https://www.alcaweb.org/archfs/v3/gsacket/8/gNFtNF63rU.png" alt="...">
                <div class="caption" class="col-sm-8">
                    <h4 class="col-sm-4">{{project.name}} </h4>
                    <div class="col-sm-6">
                        <a href="#/project/{{project.id}}" class="btn btn-primary" role="button">View</a>
                        <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Share</button>
                        <a href="#/project/edit/{{project.id}}" class="btn btn-default" role="button">Edit</a>
                        <a href="" ng-click="deleteProject(project.id)" class="btn btn-danger" role="button">Delete</a>
                    </div>
                    <div class="col-sm-12">{{project.description}} </div>
                    <div class="col-sm-12" style="color: darkgray;">
                        <div>State: {{project.state}}</div>
                        <div>Type: {{project.type}}</div>
                        <div>Created: {{project.createdAt}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share Project</h4>
                </div>
                <div class="modal-body">
                    <p>Share the project with the mockupero users</p>
                    <form class="form">
                        <div class="form-group">
                            <label for="people">People</label>
                            <br/>
                            <select class="form-control" style="width: 150px; display: inline;" id="people">
                                <option>Luis arce</option>
                                <option>Victor paredez</option>
                                <option>Jhon Smith</option>
                                <option>David Luis</option>
                            </select>
                            <select class="form-control" style="width: 150px; display: inline;" id="people2">
                                <option>Can Edit</option>
                                <option>Can Read</option>
                            </select>
                            <button type="submit" style="width: 100px; display: inline;" class="btn btn-default">Share</button>
                        </div>
                    </form>
                    <p>Shared with: Jhon smith</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination">
            <li ng-repeat="projectPage in projectPages">
                <a href="" class="active" ng-click="reloadProject(projectPage.pageIndex)">{{projectPage.pageLabel}}
            </a>
            </li>
        </ul>
    </div>
</div>
