<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="reloadMockupReuse()" data-toggle="modal" data-target="#mockupReuseModal" title="Reuse Mockup">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<div id="mockupReuseModal" class="modal fade" role="dialog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Mockups</h3>
            </div>
        </div>
        <div class="row">
            <dir ng-repeat="mockupToReuse in mockupsToReuse">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{userName}}</strong> <span class="text-muted"> Created At <time pubdate>{{mockupToReuse.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</time></span>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="col-md-7">
                                    <div>
                                        <strong>Mockup: </strong>{{mockupToReuse.name}}
                                    </div>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="useReference(mockupToReuse)">Use Reference</button>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="copyItems(mockupToReuse)">Copy Items</button>
                                </div>
                                <div class="col-md-5">
                                    <img id="reuse-mockup-{{mockupToReuse.id}}" style="padding:0; width: 150px;" src="{{globalService.BASE_PATH}}/images/{{mockupToReuse.id}}.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </dir>
        </div>
    </div>
</div>
