<div class="row" style="padding: 1px;">
    <div class="alert alert-danger" role="alert" ng-show="err">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> {{err}}
    </div>
    <div class="col-md-12">
    </div>
</div>
<button style="position: relative; left: -15px;" type="button" class="btn btn-default btn-sm" ng-click="addUser()" data-toggle="tooltip" title="Popover title">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<br />
<div class="row"  style="background-color: white;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Username</th>
                <th>Email</th>
                <th>-----</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td><a href="/#!/user/{{user.id}}">{{user.firstName}}</a> </td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="/#!/user-edit/{{user.id}}" ng-click="" class="btn btn-default btn-sm" role="button">Edit</a>
                    <button ng-click="deleteUser(user.id)" class="btn btn-danger btn-sm" role="button">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
