<div class="row">
    <div class="row" style="float: right;">
        <div ng-repeat="n in logingLog track by $index" style="display:inline-block;">
            <div ng-show="n.online" style=" border-radius: 8px; padding: 1px; padding-left: 8px; font-size: 150%;text-transform: uppercase;display: inline-block; width: 30px; {{($index % 2 == 0) ? 'color:#660A44; background: #CFD4E5;': 'color:#CFD4E5; background: #660A44;'}} {{n.online ? 'opacity: 1;': 'opacity: 0.5;'}} ">{{n.username.substring(0,1)}}</div>
        </div>
    </div>
    <h3 class="col-sm-12">{{viewObject.title}} </h3>
    <div class="col-sm-12" style="padding: 0;">
        <div class="thumbnail" style="height: 199px;">
            <div class="caption" class="col-sm-8">
                <h4 class="col-sm-4">{{viewObject.name}} </h4>
                <div ng-show="currentworkflow.permission.edit == 'YES'" class="col-sm-6"><a href="/#!/{{viewObject.editUrl}}" class="btn btn-default" role="button" ng-if="editMode">Edit Info</a>
                </div>
                <div class="col-sm-12" style="color: darkgray;">
                    <div>State: {{viewObject.state}}</div>
                    <div>Width: {{viewObject.width}}</div>
                    <div>Height: {{viewObject.height}}</div>
                    <div>Created At: {{viewObject.createdAt}}</div>
                    <div>Updated At: {{viewObject.updatedAt}}</div>
                </div>
                <div class="col-sm-12">{{viewObject.description}} </div>
            </div>
        </div>
    </div>
</div>
