<div style="float: right;">
    <div ng-repeat="n in logingLog track by $index" style="display:inline-block;">
        <div ng-show="n.online" style=" border-radius: 8px; padding: 1px; padding-left: 8px; font-size: 150%;text-transform: uppercase;display: inline-block; width: 30px; {{($index % 2 == 0) ? 'color:#660A44; background: #CFD4E5;': 'color:#CFD4E5; background: #660A44;'}} {{n.online ? 'opacity: 1;': 'opacity: 0.5;'}} ">{{n.username.substring(0,1)}}</div>
    </div>
</div>

<h3> <button type="button" class="btn btn-default" aria-label="Left Align"  ng-click="addProject()" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button> Projects </h3>
<div class="container" style="padding: 0;">
    <project-list></project-list>
</div>
<div ng-show="isAuthenticated">

    <div class="navbar navbar-inverse navbar-fixed-bottom" style="background: transparent;">
        <div id="chatContainer" class="col-lg-12" style="padding-top:5px; padding-bottom:0; height: 150px; overflow: scroll; background-color:hsla(290,60%,70%,0.3);">
            <table class="table">
                <tr class="chat_message" ng-repeat="chat in chatList">
                    <td class="col-md-12 td_class"><strong> {{chat.user}}: </strong> {{chat.message}} </td>
                </tr>
            </table>
        </div>

        <div class="col-lg-12">
            <form class="form_chat">
                <div class="col-lg-2 col-md-2">
                    <label style="color: black;">{{userNameLogin}}:</label>
                </div>
                <div class="col-lg-6 col-md-5">
                    <input type="text" ng-model="chatMessage" class="form-control" placeholder="TypeYourMessageHere">
                </div>
                <button class="btn btn-default col-lg-2 col-md-2" ng-click="sendMsg()">Send</button>
            </form>
        </div>
    </div>
</div>