<h3> <button type="button" class="btn btn-default" aria-label="Left Align"  ng-click="addProject()" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button> List design projects </h3>


<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img class="col-sm-3" src="https://www.alcaweb.org/archfs/v3/gsacket/8/gNFtNF63rU.png" alt="...">
      <div class="caption" class="col-sm-8">
        <h4>Industry</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        <p><a href="#/project/0" class="btn btn-primary" role="button">View</a> <a href="#/project/edit/0" class="btn btn-default" role="button">Edit</a></p>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img class="col-sm-3" src="https://www.alcaweb.org/archfs/v3/gsacket/8/gNFtNF63rU.png" alt="...">
      <div class="caption" class="col-sm-8">
        <h4>Air contable</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        <p><a href="#/project/1" class="btn btn-primary" role="button">View</a> <a href="#/project/edit/1" class="btn btn-default" role="button">Edit</a></p>
      </div>
    </div>
  </div>
  </div>
</div>