<view-mockup></view-mockup>
<div class="container"  ng-show="mockup.owner == userId">
    <div class="col-sm-12 col-md-12">
        <button type="button" class="btn {{wf.wClassName}}" ng-repeat="wf in workflows" ng-click="workflowAction(wf)">
            {{wf.action}}
        </button>
    </div>
</div>
<div class="container">
    <a ng-show="currentworkflow.permission.edit == 'YES'" href="/#!/{{viewObject.editDesign}}" class="btn btn-sm btn-default" role="button" ng-if="editMode">Design</a>
    <a ng-show="currentworkflow.permission.edit == 'NO'"  href="/#!/{{viewObject.editDesign}}/suggest/{{suggestObject.id}}" class="btn btn-sm btn-info" role="button">Suggest</a>
</div>
<br>
<p style="text-align:center;">
    <img style="padding: 0; width: {{viewObject.width > 950 ? 950 : viewObject.width}}px; background: #f9f9f9;" src="http://localhost:1337/images/{{viewObject.id}}.png" alt="...">
</p>
<comment relation="{{mockupId}}" relationtype="comment"></comment>
