<style>
.resize-drag {
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    width: 120px;
}

.resize-drag:hover {
    opacity: 0.8;
}

.resize-container {
    width: 100%;
    height: 240px;
}

.position-fixed {
    position: fixed;
}
</style>
<div style="float: right;">
    <div ng-repeat="n in logingLog track by $index" style="display:inline-block;">
        <div ng-show="n.online" style=" border-radius: 8px; padding: 1px; padding-left: 8px; font-size: 150%;text-transform: uppercase;display: inline-block; width: 30px; {{($index % 2 == 0) ? 'color:#660A44; background: #CFD4E5;': 'color:#CFD4E5; background: #660A44;'}} {{n.online ? 'opacity: 1;': 'opacity: 0.5;'}} ">{{n.username.substring(0,1)}}</div>
    </div>
</div>

<div class="container">
    <div style="float: right;">
        <div ng-repeat="mockupEditor in mockupEditors track by $index" style="display:inline-block;">
            <div ng-show="mockupEditor.online" style=" border-radius: 8px; padding: 1px; padding-left: 8px; font-size: 150%;text-transform: uppercase;display: inline-block; width: 30px; {{($index % 2 == 0) ? 'color:#660A44; background: #CFD4E5;': 'color:#CFD4E5; background: #660A44;'}} {{mockupEditor.online ? 'opacity: 1;': 'opacity: 0.5;'}} ">{{mockupEditor.username.substring(0,1)}}</div>
        </div>
    </div>

    <div class="container">
        <toolbar-item-image></toolbar-item-image>
        <toolbar-item-table></toolbar-item-table>
    </div>
    <div id="myProperties" style="height: 130px;" class="modal fade" role="dialog">
        <div id="properties">
        </div>
    </div>
    <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
    <button type="submit" class="btn btn-danger" ng-click="cancel()">cancel</button>
    <div id="design-div" style="height: 600px; background: black; position: absolute; top: 236px; left: 582px; width: 800px;">
        <img id="x-{{ite.type}}{{ite.id}}"  ng-repeat="ite in result" alt="" context-menu data-target="menu-image-{{ite.id}}" class="resize-drag" style="padding:0; position: absolute; width: {{ite.width}}px; height: {{ite.height}}px; top: {{ite.y}}px; left: {{ite.x}}px;" src="{{ite.src}}" alt="..." height="">

    </div>
    
</div>
<div id="design-div-content-menu">
    <div class="dropdown position-fixed" id="menu-image-{{ite.id}}" ng-repeat="ite in result">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1" ng-click="bringToFront('x-{{ite.type}}{{ite.id}}');">Bring to Front</a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2" ng-click="sendToBackward('x-{{ite.type}}{{ite.id}}');">Send Backward</a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="3" ng-click="loadProperties('x-{{ite.type}}{{ite.id}}');">Properties</a>
            </li>
        </ul>
    </div>
</div>
