<style>
.resize-drag {
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    width: 120px;
}

.resize-container {
    width: 100%;
    height: 240px;
}

.position-fixed {
    position: fixed;
}
</style>
<div class="container">
    <div class="container">
        <toolbar-item-image></toolbar-item-image>
        <toolbar-item-table></toolbar-item-table>
    </div>
    <div id="design-div" style="height: 600px; background: black; position absolute; ">
        <img context-menu data-target="menu-image-1" ng-class="{ 'highlight': highlight, 'expanded' : expanded }" class="resize-drag" style="padding:0; position: absolute;" src="http://dreamatico.com/data_images/girl/girl-8.jpg" alt="...">
        <div class="dropdown position-fixed" id="menu-image-1">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="pointer" role="menuitem" tabindex="1" ng-click="panel.highlight = true">Select Panel Menu Item 1</a>
                </li>
                <li>
                    <a class="pointer" role="menuitem" tabindex="2" ng-click="panel.highlight = false">Deselect Panel  Item 1</a>
                </li>
            </ul>
        </div>
        <img context-menu data-target="menu-image-2" ng-class="{ 'highlight': highlight, 'expanded' : expanded }" contextmenu="{{menuList}}" click-menu="clickMenu(item)" right-click="moveToTop($event)" class="resize-drag" style="padding:0;position: absolute;" src="http://dreamatico.com/data_images/girl/girl-8.jpg" alt="...">
        <div class="dropdown position-fixed" id="menu-image-2">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="pointer" role="menuitem" tabindex="1" ng-click="panel.highlight = true">Select Panel Menu Item 2</a>
                </li>
                <li>
                    <a class="pointer" role="menuitem" tabindex="2" ng-click="panel.highlight = false">Deselect Panel  Item 2</a>
                </li>
            </ul>
        </div>

        <table class="resize-drag table" style="position absolute;" ng-click="moveToTop($event)">
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>
    </div>
    <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
    <button type="submit" class="btn btn-danger" ng-click="cancel()">cancel</button>
</div>
