<view-mockup></view-mockup>
<div class="container">
    <a href="#/{{viewObject.editDesign}}" class="btn btn-sm btn-default" role="button" ng-if="editMode">Design</a>
    <a href="#/{{viewObject.editDesign}}" class="btn btn-sm btn-default" role="button" ng-if="!editMode">Design</a>
    <a href="#/project/{{projectId}}/mockup-suggest/{{mockupId}}" class="btn btn-sm btn-info" role="button">Suggest</a>
</div>
<br>
<p style="text-align:center;">
    <img style="padding: 0; width: {{viewObject.width > 950 ? 950 : viewObject.width}}px; " src="http://localhost:1337/images/{{viewObject.id}}.png" alt="...">
</p>
<comment relation="{{mockupId}}"></comment>
