<div style="">
<button id="btnSave" type="button" class="btn btn-default" aria-label="save" ng-click="saveSuggest()" title="Save Suggest">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        </button>
<canvas id="suggestMockup" width="{{mockup.width}}" height="{{mockup.height}}" style="background: url({{globalService.BASE_PATH}}/images/{{mockupId}}.png) no-repeat center center;"></canvas>	
</div>
<script type="text/javascript">
$(function() {
    $('#suggestMockup').sketch();
});
</script>
