<view-mockup></view-mockup>
<div class="row" ng-show="mockup.owner.id == userId">
    <div class="col-sm-12 col-md-12">
        <button type="button" class="btn {{wf.wClassName}}" ng-repeat="wf in workflows" ng-click="workflowAction(wf)">
            {{wf.action}}
        </button>
    </div>
</div>
<div class="row">
    <a ng-show="currentworkflow.permission.edit == 'YES'" href="/#!/{{viewObject.editDesign}}" class="btn btn-sm btn-default" role="button" ng-if="editMode">Design</a>
    <a href="/#!/{{viewObject.editDesign}}/suggest/{{suggestObject.id}}" class="btn btn-sm btn-info" role="button">Suggest</a>
</div>
<br>
<div class="row">
    <img style="width: {{viewObject.width}}px; max-width: 100%; background: #f9f9f9;" src="{{globalService.BASE_PATH}}/images/{{viewObject.id}}.png" alt="..."> </div>
<div class="row" ng-show="mockups.length > 0">
	<h4>Mockup Suggests</h4>
    <div class="col-xs-4 col-sm-3 col-md-3" ng-repeat="suggest in mockups" style="background: #aeb2ae; height: 270px; border: 3px; margin: 20px; padding: 0;">
        <div class="thumbnail" style="height: 270px; background: #aeb2ae;">
            <div class="caption">
                <h4>{{suggest.name | cut:true:10:' ...'}}</h4>
                <p style="color: #efeff5;"> created by {{suggest.owner.username | cut:true:10:' ...'}}</p>
                <p>
                    <a ng-show="currentworkflow.permission.children.edit == 'YES'" style="margin-right: 10px;" href="/#!/{{viewObject.editDesign}}/suggest/{{suggestObject.id}}"><span class="glyphicon glyphicon-picture"></span></a>
                    <a ng-show="currentworkflow.permission.children.delete == 'YES'" style="margin-right: 10px;" href="" ng-click="deleteMockupSuggest(suggest.id)" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                </p>
            </div>
            <div>
                <img src="{{globalService.BASE_PATH}}/images/{{suggest.id}}.png" class="col-xs-10 col-sm-12 col-md-12" alt="..." style="background: white;">
            </div>
        </div>
    </div>
</div>
<comment relation="{{mockupId}}" relationtype="mockup"></comment>
