<div class="row">
    <div style="float: right;">
        <div ng-repeat="n in logingLog track by $index" style="display:inline-block;">
            <div ng-show="n.online" style=" border-radius: 8px; padding: 1px; padding-left: 8px; font-size: 150%;text-transform: uppercase;display: inline-block; width: 30px; {{($index % 2 == 0) ? 'color:#660A44; background: #CFD4E5;': 'color:#CFD4E5; background: #660A44;'}} {{n.online ? 'opacity: 1;': 'opacity: 0.5;'}} ">{{n.username.substring(0,1)}}</div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="err">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error: </span> {{err}}
    </div>
    <view-project>
    </view-project>
    <div class="row">
        <div class="col-sm-12 col-md-12" ng-show="project.userId == userId">
            <button type="button" class="btn {{wf.wClassName}}" ng-repeat="wf in workflows" ng-click="workflowAction(wf)">
                {{wf.action}}
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h5>Project Members</h5>
            <div class="row">
                <div style="width: 65px; display: inline-block; height: 65px; padding: 3px; " ng-repeat="member in project.members">
                    <img ng-src="{{globalService.BASE_PATH}}/images/avatar/{{member.user}}.jpg" class="img-thumbnail" alt="{{member.user}}" width="100%" title="{{member.user}}">
                </div>
            </div>
        </div>
    </div>
    <a href="/#!/project/{{projectId}}/navigationDiagram" class="btn btn-sm btn-info" role="button">Show Navigation</a>
    <presentation></presentation>
    <h3 ng-show="currentworkflow.permission.children.add == 'YES'"> <button type="button" class="btn btn-default" aria-label="Left Align"  ng-click="addMockup()" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button></h3>
    <div class="row" style="border: 0;">
        <div ng-show="!mockup.isSuggest" class="col-xs-6 col-sm-4 col-md-4" ng-repeat="mockup in project.mockups" style="height: 250px; border: 5px; padding: 10px;">
            <div class="thumbnail" style="height: 250px; background: #aeb2ae;">
                <div class="caption">
                    <h4>{{mockup.name | cut:true:10:' ...'}}</h4>
                    <p>
                        <a style="margin-right: 10px;" href="/#!/mockup/{{mockup.id}}"><span class="glyphicon glyphicon-folder-open"></span></a>
                        <a ng-show="currentworkflow.permission.children.edit == 'YES'" style="margin-right: 10px;" href="/#!/mockup/edit/{{mockup.id}}" ng-if="editMode"><span class="glyphicon glyphicon-edit"></span></a>
                        <a ng-show="currentworkflow.permission.children.edit == 'YES'" style="margin-right: 10px;" href="/#!/mockup-edit-design/{{mockup.id}}"><span class="glyphicon glyphicon-picture"></span></a>
                        <a ng-show="currentworkflow.permission.children.delete == 'YES'" style="margin-right: 10px;" href="" ng-click="deleteMockup(mockup.id)" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                    </p>
                </div>
                <div>
                    <img src="{{globalService.BASE_PATH}}/images/{{mockup.id}}.png" class="col-xs-10 col-sm-12 col-md-12" alt="..." style="background: white;">
                </div>
            </div>
        </div>
    </div>
    <comment relation="{{projectId}}" relationtype="project"></comment>
</div>
