<div>
    <form role="form">
        <div class="form-group">
            <label for="name">Project Name:</label>
            <input type="text" ng-model="project.name" class="form-control" id="name" placeholder="Project Name">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="" id="description" cols="30" rows="10" ng-model="project.description"></textarea>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <select class="form-control" id="state" ng-model="project.state">
                <option value="{{projectSt}}" ng-repeat="projectSt in projectStatus">{{projectSt}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">type:</label>
            <input type="text" class="form-control" id="type" ng-model="project.type">
        </div>
        <div>Updated At: {{project.createdAt}}</div>
        <div>Created: {{project.createdAt}}</div>
        <button type="submit" class="btn btn-success" ng-click="saveProject()">Save</button>
        <button type="submit" class="btn btn-danger" ng-click="cancel()">cancel</button>
    </form>
</div>
