<h3 class="col-sm-12"> user View </h3>
<a class="col-sm-12" href="/#/userlist/">User List</a>
<div class="col-sm-12" style="padding: 0;">
    <div class="thumbnail" style="height: 199px;">
        <div class="caption" class="col-sm-8">
            <h4 class="col-sm-4">User Info</h4>
            <div class="col-sm-6"><a href="#/user-edit/{{user.id}}" class="btn btn-default" role="button" ng-if="editMode">Edit Info</a>
            </div>
            <div class="col-sm-12" style="color: darkgray;">
                <div>name: {{user.firstName}} {{user.lastName}}</div>
                <div>User Name: {{user.username}}</div>
                <div>Email: {{user.email}}</div>
            </div>
        </div>
    </div>
</div>
