<div class="col-sm-12" style="padding: 1px;">
    <div class="alert alert-danger" role="alert" ng-show="err">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> {{err}}
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" ng-click="addWorkflow()" data-toggle="tooltip" title="Popover title">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-9">
        <input type="text" placeholder="Search by Workflow Name" ng-model="searchName" ng-keyup="reloadProject(1)">
        <button type="button" class="btn btn-default" ng-click="sortByName()">
            <span class="glyphicon {{ sortAsc?'glyphicon glyphicon-sort-by-alphabet-alt':'glyphicon-sort-by-alphabet'}}"></span> Sort By Name
        </button>
    </div>
    <br/>
    <br/>
    <br/>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workflow in workflows">
                <td><a href="#/workflow/{{workflow.id}}">{{workflow.name}}</a> </td>
                <td>{{workflow.name}}</td>
                <td>{{workflow.action}}</td>
                <td>
                    <a href="#/workflow-edit/{{workflow.id}}" ng-click="" class="btn btn-default btn-sm" role="button">Edit</a>
                    <button ng-click="deleteWorkflow(workflow.id)" class="btn btn-danger btn-sm" role="button">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
